<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>有料プラン登録</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div class="container">
        <h1>有料会員になるには</h1>
        <p>有料会員になることで、以下の特典が受けられます：</p>
        <ul>
            <li>店舗をお好きなだけお気に入りに追加可能</li>
            <li>レビューを全件閲覧可能</li>
            <li>レビューを投稿可能</li>
            <li>月額たったの300円</li>
        </ul>


        <div th:if="${successMessage}" class="alert alert-info">
            <span th:text="${successMessage}"></span>
        </div>

<!--        <button id="subscribeBtn" class="btn btn-primary" onclick="showPaymentForm()">有料プランに登録する</button>-->

        <div id="payment-form-container" >
            <form id="payment-form">
                <div id="card-element" class="card-element" style="border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    width: 80%;"></div>
                <button type="submit" class="btn btn-success">登録</button>
                <div id="card-errors" role="alert"></div>
            </form>
        </div>
        <div id="complete-payment-div"  style="display: none;">
            <form method="post" action="/user/subscription">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <button type="submit" class="btn btn-primary">登録を完了する</button>
            </form>

        </div>
    </div>

    <script>
        // Stripeの公開可能キーを使用してStripeオブジェクトを作成（テストモード）
        const stripe = Stripe('pk_test_51Psg3ZBFrizAwYCzI6ivnDhlxkaatfA6yC4nJbIG3acGweSB7uXgCa2woQNEHbpHniO8D6YWlGdA1sigQXTP3YKp009D9oJkR3');  // ここにStripeダッシュボードから取得した公開可能キーを設定
        const elements = stripe.elements();

        // カード要素を作成
        const cardElement = elements.create('card');
        cardElement.mount('#card-element');
        // フォーム表示の処理

        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const {paymentMethod, error} = await stripe.createPaymentMethod({
                type: 'card',
                card: cardElement,
            });

            if (error) {
                document.getElementById('card-errors').textContent = error.message;
            } else {
               document.getElementById('complete-payment-div').style.display = 'block';
               document.getElementById('payment-form-container').style.display = 'none';
            }
        });
    </script>
</body>
</html>
